@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap');

.c1 {
      border: 1px solid rgb(209, 209, 209);
      background-color: rgb(240, 238, 238);
      padding: 10px;
      width: 600px;
      height: 28px;
      text-align: center;
      font-family: 'Nanum Pen Script', cursive;
      font-size: 1.3em;
      margin-top: 50px;
  }
