// Placeholder to allow customizing styles.
.below {
  padding: 10px;
  border: solid red 1px;
  width: 300px;
  height: 400px;
}

.c1 {
  border: solid red 1px;
  width: 300px;
  height: 400px;
  background-color: red;
}
